*{
    margin: 0;
    padding: 0;
}

header, html, body {
    min-height: 100% !important;
    height: 100%;
}

body{
    display: flex;
    min-height: 100% !important;
    height: 100%;
    align-items : center;
    justify-content: center;
    background-color: #f7f0f7;
    /* color: aliceblue; */
}