*{
    margin: 0;
    padding: 0;
}

header, html, body {
    min-height: 100% !important;
    height: 100%;
}

body{
    display: flex;
    min-height: 100% !important;
    height: 100%;
    align-items : center;
    justify-content: center;
    background-color: #f7f0f7;
    /* color: aliceblue; */
}
.container {
    padding: 20px 60px;
    background-color: rgb(71, 124, 204);
    border-radius: 20px;
    border: black 2px solid;
}

p {
    text-align: center;
}